<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../partials/head'); %>
</head>

<body>
  <%- include ('../partials/header'); %>
  <%- include ('../components/cart_table', {cart}); %>
  <%- include ('../partials/footer'); %>
</body>
<script src="scripts/scripts.js"></script>

</html>