<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <% if (locals.user) { %>
  <%- include('../partials/header', {user: user, cart: cart}) %>
  <% } else { %>
  <%- include('../partials/header') %>
  <% } %>
  <main>
    <div>
      <form class="search-book-form">
        <input type="text" name="author" placeholder="Author" /><br />
        <input type="text" name="title" placeholder="Title" /><br />
        <input type="submit" value="Search" />
      </form>
    </div>
    <div class="book-selector">
    </div>
    </form>
  </main>
  <%- include('../partials/footer') %>
</body>
<script src="scripts/add_book.js"></script>

</html>