<footer>
  <div class="footer footer--blue">
    <div class="footer-contact">
      <div class="contact-with-icon">
        <a href="">
          <img class="contact-with-icon__image" src="/img/icons/phone-call.png"
              alt="Phone Call Icon">
        </a>
        <div>
          <h4 class="pt-sans-bold">Call Us</h4>
          <h3 class="pt-sans-regular">+27 12 456 7890</h3>
        </div>
      </div>
      <div class="contact-with-icon">
        <a href="">
          <img class="contact-with-icon__image" src="/img/icons/mail.png"
              alt="Mail Icon">
        </a>
        <div>
          <h4 class="pt-sans-bold">Mail Us</h4>
          <h3 class="pt-sans-regular mail">contact@knowl&tree.com</h3>
        </div>
      </div>
      <h4 class="pt-sans-regular">Opening Hours</h4>
      <h3 class="pt-sans-bold">Mon-Fri 9am - 4pm</h3>
      <h4 class="pt-sans-regular">Newsletter</h4>
      <input class="footer-contact__input pt-sans-regular" name="subscribe"
          id="subscribe" type="text" class="pt-sans-regular"
          placeholder="your@email.here">
      <button class="footer-contact__button pt-sans-regular">Subscribe</button>
    </div>
  </div>

  <div class="footer">
    <div class="footer-about">
      <a href="/">
        <img class="footer-about__image" src="/img/logo/Logo_No_BG.png"
            alt="Company Logo">
      </a>
      <p class="pt-sans-regular">At Knowl & Tree, we cultivate curiosity and
        inspire lifelong learning by
        offering a thoughtfully curated selection of books. Our mission is to
        grow
        a vibrant community of readers through knowledge, imagination, and the
        transformative power of storytelling.</p>
      <div class="footer-about-links">
        <a href="">
          <img class="footer-about-links__image" src="/img/icons/whatsapp.png"
              alt="Whatsapp Icon">
        </a>
        <a href="">
          <img class="footer-about-links__image" src="/img/icons/facebook.png"
              alt="Facebook Icon">
        </a>
        <a href="">
          <img class="footer-about-links__image" src="/img/icons/instagram.png"
              alt="Instagram Icon">
        </a>
        <a href="">
          <img class="footer-about-links__image" src="/img/icons/periscope.png"
              alt="Pin Icon">
        </a>
        <a href="">
          <img class="footer-about-links__image" src="/img/icons/messenger.png"
              alt="Messenger Icon">
        </a>
      </div>
    </div>

  </div>
</footer>