<footer>
  <div class="footer">
    <div class="phone-contact container">
      <a href="">
        <img src="/img/icons/phone-call.png" alt="Phone Call Iocn">
      </a>
      <h4>Call Us</h4>
      <h3>+27 12 456 7890</h3>
    </div>
    <div class="mail-contact container">
      <a href="">
        <img src="/img/icons/mail.png" alt="Mail Icon">
      </a>
      <h4>Mail Us</h4>
      <h3>contact@knowl&tree.com</h3>
    </div>
    <h4>Opening Hours</h4>
    <h3>Mon-Fri 9am - 4pm</h3>
    <h4>Subscribe</h4>
    <input type="text">
  </div>
</footer>