<header>
  <div class="header">
    <div class="header-logo">
      <a href="/">
        <img src="/img/logo/Logo_Cropped.png" alt="Company Logo">
      </a>
    </div>
    <div class="title">
      <a href="/">
        <h1>Knowl & Tree Bookstore</h1>
      </a>
    </div>
    <div class="nav">
      <nav>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <% if (locals.user) { %>
        <% if (user.role === "admin") { %>
        <a href="/add-book">Add</a>
        <% } else { %>
        <% } %>
        <a href="/cart">Cart</a>
        <p id="cart-size"><%= cart.length %></p>
        <a href="/logout">Logout</a>
        <% } else { %>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <% } %>
        <a href="/site-users">Users</a>
      </nav>
    </div>
  </div>
</header>