<header class="header">
  <div class="header_menu">
    <a href="">
      <img class="header_menu-image"
          src="   https://cdn-icons-png.flaticon.com/512/2976/2976215.png "
          alt="">
    </a>
  </div>
  <div class="header_logo">
    <a href="/">
      <img class="header_logo-image" src="/img/logo/Logo_No_BG.png"
          alt="Company Logo">
    </a>
  </div>
  <div class="header_options">
    <a class="header_search" href=""><img class="header_search-image"
          src="/img/icons/search.png" alt="Search Icon"></a>
    <a class="header_cart" href="">
      <img class="header_cart-image" src="/img/icons/shopping-cart.png" alt="Shopping Cart Icon">
    </a>
  </div>
</header>