<header>
  <div id="header">
    <div class="header menu">
      <a href="">
        <img src="   https://cdn-icons-png.flaticon.com/512/2976/2976215.png "
            alt="">
      </a>
    </div>
    <div class="header logo">
      <a href="/">
        <img src="/img/logo/Logo_No_BG.png" alt="Company Logo">
      </a>
    </div>
    <div class="header options">
      <a class="header search" href=""><img src="/img/icons/search.png"
            alt="Search Icon"></a>
      <a class="header cart" href="">
        <img src="/img/icons/shopping-cart.png" alt="Shopping Cart Icon">
      </a>
    </div>
  </div>
</header>