<div id="side-nav" class="side-nav">
  <a href="#" class="side-nav_link pt-sans-regular">Home</a>
  <a href="#" class="side-nav_link pt-sans-regular">Shop By Category</a>
  <a href="#" class="side-nav_link pt-sans-regular">Deals</a>
  <a href="#" class="side-nav_link pt-sans-regular">Orders</a>
  <a href="#" class="side-nav_link pt-sans-regular">My Account</a>
  <a href="#" class="side-nav_link pt-sans-regular">Help Center</a>
  <a href="#" class="side-nav_link pt-sans-regular">Cart</a>
</div>