<div id="side-nav" class="side-nav">
  <div>
    <a href="/" class="side-nav_link pt-sans-regular">Home</a>
    <p href="#" class="side-nav_link pt-sans-regular"
        onclick="toggleNested('nested-category')">
      Shop By Category</p>
    <div class="side-nav-nested" id="nested-category">
      <% locals.categories && categories.forEach(category => { %>
      <a href="" class="side-nav-nested_link pt-sans-regular">
        <%= category.name %> </a>
      <% }); %>
    </div>
    <a href="#" class="side-nav_link pt-sans-regular">Deals</a>
    <a href="#" class="side-nav_link pt-sans-regular">Orders</a>
    <p href="#" class="side-nav_link pt-sans-regular"
        onclick="toggleNested('nested-account-details')">My Account</p>
    <div class="side-nav-nested" id="nested-account-details">
      <a href="" class="side-nav-nested_link pt-sans-regular">Orders</a>
      <a href="" class="side-nav-nested_link pt-sans-regular">Personal
        Details</a>
      <a href="" class="side-nav-nested_link pt-sans-regular">Security
        Settings</a>
      <a href="" class="side-nav-nested_link pt-sans-regular">Product
        Reviews</a>
      <a href="" class="side-nav-nested_link pt-sans-regular">Newsletter
        Subscriptions</a>
    </div>
    <a href="#" class="side-nav_link pt-sans-regular">Help Center</a>
    <a href="#" class="side-nav_link pt-sans-regular">Cart</a>
  </div>
  <div class="side-nav-login">
    <button class="side-nav-login_button pt-sans-regular">Login</button>
    <button class="side-nav-login_button pt-sans-regular">Register</button>
  </div>
</div>