<div class="book-collection">
  <% if (locals.books && locals.categories) { %>
  <% categories.forEach((category)=> { %>
  <% if (books.some(book => book.category === category)) { %>
  <h2 class="book-collection-category">
    <a><%= category %></a>
  </h2>
  <div class="book-collection-grid">
    <% books.forEach((book)=> { %>
    <% if (book.category==category) { %>
    <%- include ('book_collection_item', {book: book}); %>
    <% } %>
    <% }); %>
  </div>
  <% } %>
  <% }); %>
  <% } %>
</div>