/*
Palette
#102E50 = Navy
#F5C45E = Yellow
#E78B48 = Orange
#BE3D2A = Red
*/

:root {
  --navy: #102e50;
  --yellow: #f5c45e;
  --orange: #e78b48;
  --red: #be3d2a;
  --shadow-grey: #0000001a;
  --chin-grey: #dcdcdc;
  --card-grey: #0000000a;
  --text-grey: #000000b3;
}

* {
  margin: 0px;
  padding: 0px;
}

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.pt-serif-regular-italic {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.pt-serif-bold-italic {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0px 10px;
  border-bottom: solid 1px var(--chin-grey);
  box-shadow: 0 5px 5px var(--shadow-grey);
}

.menu img {
  height: 25px;
  width: 40px;
}

.logo img {
  height: 30px;
}

.search img {
  height: 25px;
}

.cart img {
  height: 30px;
}

.header .options {
  display: flex;
  align-items: center;
  width: 50px;
  margin: 0px 5px;
}

#genre-title {
  margin: 10px 10px;
}

.category.container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}

.category .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.category .image-container {
  width: 70px;
  height: 70px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 5px;
}

.category .image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.category .title {
  font-size: smaller;
  width: 80px;
  text-wrap: wrap;
  text-align: center;
  margin: 0;
}

.advert.top > img {
  width: auto;
  max-width: 100%;
  min-width: none;
}

.books.card.container {
  height: 300px;
  width: 250px;
  min-width: 250px;
  margin: 0px 10px;
}

.cover.container {
  background-color: var(--card-grey);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  max-width: 100%;
  margin-bottom: 10px;
}

.books.cover img {
  height: 80%;
  width: 35%;
  border-radius: 10px;
}

.books h5 {
  color: var(--text-grey);
  margin-bottom: 5px;
}

.books h4 {
  color: var(--navy);
  text-wrap: wrap;
  margin-bottom: 5px;
}

.text.container h6 {
  color: var(--red);
}

.text.container {
  display: flex;
  justify-content: space-between;
}

.books.scroll {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}

button.category {
  background-color: var(--orange);
  color: white;
  border-radius: 10px;
  padding: 5px;
  border: none;
  margin-left: 10px;
}

@media (min-width: 650px) {
}

@media (min-width: 750px) {
}
