* {
  margin: 0px;
  padding: 0px;
}

body {
  max-width: 1000px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.header-logo img {
  width: 100px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer > div {
  width: 30%;
}

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.categories a {
  margin: 0px 5px;
}

.book-collection {
  min-height: 240px;
}

.book-collection-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.book-collection-item {
  display: flex;
  flex-direction: vertical;
  justify-content: center;
  text-align: center;
}

.book-collection-item img {
  height: 100px;
}

@media (max-width: 1000px) {
  body {
    max-width: auto;
  }

  .book-collection-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .book-collection-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .header-logo img {
    width: 200px;
  }
}
