/*
Palette
#102E50 = Navy
#F5C45E = Yellow
#E78B48 = Orange
#BE3D2A = Red
*/
* {
  margin: 0px;
  padding: 0px;
}

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.pt-serif-regular-italic {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.pt-serif-bold-italic {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0px 10px;
  border-bottom: solid 1px gainsboro;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.menu img {
  height: 25px;
  width: 40px;
}

.logo img {
  height: 30px;
}

.search img {
  height: 25px;
}

.cart img {
  height: 30px;
}

.header .options {
  display: flex;
  align-items: center;
  width: 50px;
  margin: 0px 5px;
}

#genre-title {
  margin: 10px 10px;
}

.category.container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}

.category .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.category .image-container {
  width: 70px;
  height: 70px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 5px;
}

.category .image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.category .title {
  font-size: smaller;
  width: 80px;
  text-wrap: wrap;
  text-align: center;
  margin: 0;
}

.advert.top > img {
  width: auto;
  max-width: 100%;
  min-width: none;
}

.books.card.container {
  height: 300px;
  width: 250px;
  min-width: 250px;
  margin: 0px 10px;
}

.cover.container {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  max-width: 100%;
  margin-bottom: 10px;
}

.books.cover img {
  height: 80%;
  width: 35%;
  border-radius: 10px;
}

.books h5 {
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 5px;
}

.books h4 {
  color: #102e50;
  text-wrap: wrap;
  margin-bottom: 5px;
}

.text.container h6 {
  color: #be3d2a;
}

.text.container {
  display: flex;
  justify-content: space-between;
}

.books.scroll {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}

@media (min-width: 650px) {
}

@media (min-width: 750px) {
}
